{% extends 'base2.html.twig' %}


{% block title %}Abonnement {% endblock %}

{% block body %}
<div class="container-fluid">
    <h3 class="m-0 font-weight-bold text-primary">Abonnement </h3>
    <div class="card shadow-lg h-75 m-4 mt-8">
        <div class="card-body">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Statistiques des produits</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink" style="">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="myChart" width="301" height="245"
                                style="display: block; width: 301px; height: 245px;"
                                class="chartjs-render-monitor"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> GOLD
                                        </span>
                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> new
                                        </span>
                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> premium
                                        </span>
                        <span class="mr-2">
                                            <i class="fas fa-circle text-warning"></i> autres
                                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- Page Heading -->
    <div class="card shadow-lg h-75 m-4 mt-8">

        <div class="card-body">
            <script>
                $(".recherche").on("submit", function(event) {
                    // prevent page reload
                    event.preventDefault();

                    $.ajax({
                        url: '{{ path('abonnement_index') }}',
                        type: 'POST',
                        success: function() {
                            // perform dom update to show search results
                        }
                    });
                });
            </script>

            <div class="card-body">
                <form method="get" type="submit" id="recherche"
                      class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input name="users"  class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <a class="btn btn-primary" >
                                <i class="fas fa-search fa-sm"></i>
                            </a>
                        </div>
                    </div>
                </form>
                <br>
                <br>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">



        <thead>
            <tr>
                <th>Id</th>
                <th>Prix</th>
                <th>Type</th>
                <th>Activite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.id }}</td>
                <td>{{ abonnement.prix }}</td>
                <td>{{ abonnement.type }}</td>
                <td>{{ abonnement.activite }}</td>
                <td>

                    <a class="btn btn-danger btn-icon-split" href="{{ path('abonnement_show', {'id': abonnement.id}) }}">show</a>

                    <a class="btn btn-info btn-icon-split" href="{{ path('abonnement_edit', {'id': abonnement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>






    <a class="btn btn-primary"  href= "{{ path('abonnement_new') }}">Create new</a>
    <div class="col-md-3"><a href="{{path('generatePDF1')}}" class="btn btn-primary">Telecharger PDF</a> </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';

        // Pie Chart Example
        var ctx = document.getElementById("myChart");
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["GOLD", "new", "premium", "autres"],
                datasets: [{
                    data: [{{ cv }}, {{ cn }}, {{ ce }},{{ cs }}],
                    backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc','#cca736'],
                    hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf','#cca736'],
                    hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                },
                legend: {
                    display: false
                },
                cutoutPercentage: 80,
            },
        });
    </script>
{% endblock %}