{% extends 'base2.html.twig' %}

{% block title %}Zonedacces{% endblock %}

{% block body %}
    <h1>Zonedacces</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idzone</th>
                <td>{{ zonedacce.idzone }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ zonedacce.nom }}</td>
            </tr>
            <tr>
                <th>Horaireouverture</th>
                <td>{{ zonedacce.horaireouverture }}</td>
            </tr>
            <tr>
                <th>Horairecloture</th>
                <td>{{ zonedacce.horairecloture }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('zonedacces_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('zonedacces_edit', {'idzone': zonedacce.idzone}) }}">edit</a>

    {{ include('zonedacces/_delete_form.html.twig') }}
{% endblock %}
