{% extends 'base2.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>



    <input class="form-control" id="myInput" type="text" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
    <table class="table">
        <thead>
            <tr>
                <th>Idproduit</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Description</th>
                <th>Image</th>
                <th>Vote</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id='hi'>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.idproduit }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.image }}</td>
                <td>{{ produit.vote }}</td>
                <td>
                    <a class="btn btn-danger btn-icon-split" href="{{ path('produit_show', {'idproduit': produit.idproduit}) }}">show</a>
                    <a class="btn btn-info btn-icon-split" href="{{ path('produit_edit', {'idproduit': produit.idproduit}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-primary" href="{{ path('produit_new') }}">Create new</a>
    <a class="btn btn-primary"  href="{{ path('order') }}">Trier</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#hi tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>

{% endblock %}
