
{% block body %}
    <h1 align="center"> Listes des commandes</h1>

    <table class="table">
        <thead>
        <tr>

            <th>Idcommande</th>
            <th>Idproduit</th>
            <th>Date</th>
            <th>Email</th>
            <th>Id</th>

        </tr>
        </thead>
        <tbody id='hi'>
        {% for commande in commandes %}
            <tr>

                <td>{{ commande.idcommande }}</td>
                <td>{{ commande.idproduit.idproduit }}</td>
                <td>{{ commande.date |date('Y-m-d H:i:s') }}</td>
                <td>{{ commande.email }}</td>
                <td>{{ commande.id.id }}</td>
                <td>

                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>



{% endblock %}
