{% extends 'base2.html.twig' %}

{% block title %}EmploiDuTemps{% endblock %}

{% block body %}
    <h1>EmploiDuTemps</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Idemploi</th>
            <td>{{ emploi_du_temp.idemploi }}</td>
        </tr>
        <tr>
            <th>Idseance</th>
            <td>{{ emploi_du_temp.idseance }}</td>
        </tr>
        <tr>
            <th>Zone</th>
            <td>{{ emploi_du_temp.idzone }}</td>
        </tr>
        <tr>
            <th>Datee</th>
            <td>{{ emploi_du_temp.datee }}</td>
        </tr>
        </tbody>
    </table>

    <a  class="btn btn-secondary" href="{{ path('emploi_du_temps_index') }}">back to list</a>

    <a  class="btn btn-primary" href="{{ path('emploi_du_temps_edit', {'idemploi': emploi_du_temp.idemploi}) }}">edit</a>

    {{ include('emploi_du_temps/_delete_form.html.twig') }}
{% endblock %}