{% extends 'base2.html.twig' %}

{% block title %}Activite{% endblock %}

{% block body %}
<div class="container">
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Activité</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ activite.id }}</td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td>{{ activite.nom }}</td>
                        </tr>
                        <tr>
                            <th>Duree</th>
                            <td>{{ activite.duree }}</td>
                        </tr>
                        <tr>
                            <th>Type</th>
                            <td>{{ activite.type }}</td>
                        </tr>
                    </tbody>
                </table>

    <a class="btn btn-info" href="{{ path('activite_index') }}">Retour à la liste</a>

    <a class="btn btn-warning" href="{{ path('activite_edit', {'id': activite.id}) }}">Modifier</a>

    {{ include('activite/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
