{% extends 'base.html.twig' %}

{% block title %}Zonedacces index{% endblock %}

{% block body %}
<div class="container-fluid">
    <h3 class="m-0 font-weight-bold text-primary">Zone d'acces </h3>


    <!-- Page Heading -->
    <div class="card shadow-lg h-75 m-4 mt-8">

        <div class="card-body">
            <script>
                $(".recherche").on("submit", function(event) {
                    // prevent page reload
                    event.preventDefault();

                    $.ajax({
                        url: '{{ path('abonnement_index') }}',
                        type: 'POST',
                        success: function() {
                            // perform dom update to show search results
                        }
                    });
                });
            </script>

            <div class="card-body">
                <form method="get" type="submit" id="recherche"
                      class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input name="users"  class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <a class="btn btn-primary" >
                                <i class="fas fa-search fa-sm"></i>
                            </a>
                        </div>
                    </div>
                </form>
                <br>
                <br>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">


                    <thead>
            <tr>
                <th>Les zones</th>
                <th>Nom</th>
                <th>Horaireouverture</th>
                <th>Horairecloture</th>
            </tr>
        </thead>
        <tbody>
        {% for zonedacce in zonedacces %}
            <tr>
                <td>{{ zonedacce.idzone }}</td>
                <td>{{ zonedacce.nom }}</td>
                <td>{{ zonedacce.horaireouverture }}</td>
                <td>{{ zonedacce.horairecloture }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


                        <div class="col-md-3"><a href="{{path('generatePDF')}}" class="btn btn-primary">Telecharger PDF</a> </div>


{% endblock %}
